body {
  font-family: Arial, sans-serif;
}

.hero {
  background: url('../img/pug.jpg') no-repeat center center/cover;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero .btn-adoptar {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

/* Estilos para el html "adoptar" */

.titulo {
  background: no-repeat center center/cover;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25%;
  color: black;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.l1 {
  background: no-repeat center center/cover;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 37%;
  color: black;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.l1 h2 {
  font-size: 1.8rem;
  font-weight: italic;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.input-group .form-control {
  min-width: 250px;
}

/* Estilos para seleccionar html "razas" */

.aviso h2{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 37%;
  color: rgb(7, 7, 7);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

/* html "info" */
.titulo1 {
  text-align: center; 
  color: black;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  padding: center 0;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50%;
  padding-left: 15%;
  color: #333;
}

.titulo1 h1 {
  display: inline; 
  white-space: nowrap; 
  font-size: 2.5rem; 
  color: rgb(7, 7, 7);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.descripcion{
  flex: 1;
  margin-left: 15%;
  max-width: 800px;
  text-align: justify;
}

.descripcion h4{
  text-align:  justify;
  font-size: 2.5rem;
  font-weight: 700;
  color:black; 
  margin-bottom: 1rem;
}

.descripcion p{
   font-size: 1.1rem;
  line-height: 1.6; 
  margin-bottom: 1.5rem;
}



footer {
  text-align: center;
  padding: 15px;
  background: #f8f9fa;
  font-size: 14px;
  color: #333;
}

html, body {
  height: auto !important;
  min-height: 100% !important;
  overflow-y: auto !important;
  overflow: visible;
}


